@charset "UTF-8";
/* Подключение локального шрифта Raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* Добавляем вручную это свойство для отображения шрифта до загрузки */
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v16-latin-700.woff2") format("woff2"), url("../fonts/raleway-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.footer-social-item > a, .footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

/*                                    Общие сбросы свойств */
/* Убираем точки и отступы в списках */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем подчеркивание в ссылках */
.link {
  text-decoration: none;
}

/* Убираем наклонность текста */
.address {
  font-style: normal;
}

/* Убираем эффект 2рх  и оптимизируем фото */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Убираем возможность изменять размер пользователю */
textarea {
  resize: none;
}

/* Логотип */
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

.logo-web {
  color: #2196f3;
}

.logo .black-studio {
  color: #212121;
}

.logo .white-studio {
  color: #ffffff;
}

.logo.animate__pulse {
  animation-duration: 1000ms;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/* "Эффект присутствия на странице */
.nav-link.current {
  position: relative;
  display: inline-block;
  color: #2196f3;
}

.nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  content: '';
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-link.current {
    padding-bottom: 8px;
  }
}

/* Скрываем визуально текст и чекбокс*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*                                   Наш div.container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*                                        Шапка сайта  */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button-menu {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
}

.button-menu-svg {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu-svg:hover, .button-menu-svg:focus {
  fill: #2196f3;
}

.button-menu .icon-cross {
  display: none;
}

.button-menu.is-open .icon-cross {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    display: none;
  }
  .menu-wrapper.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-wrapper {
    display: flex;
    align-items: center;
  }
}

/* Навигация */
.nav-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav-link {
    font-size: 18px;
    line-height: 1.167;
  }
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contakt-list {
    display: flex;
    align-items: center;
  }
}

.contakt-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link:hover, .contakt-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contakt-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contakt-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .nav-list .item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contakt-list .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contakt-list .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contakt-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contakt-list .link {
    display: flex;
  }
}

.icon-mail {
  align-self: center;
  margin-top: 1px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link:hover .icon-mail,
.contakt-link:focus .icon-mail {
  fill: #2196f3;
}

.icon-phone {
  align-self: center;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link:hover .icon-phone,
.contakt-link:focus .icon-phone {
  fill: #2196f3;
}

/*                                Секция Портфолио */
@media screen and (max-width: 1199px) {
  .main-portfolio {
    padding-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio {
    padding-top: 93px;
    margin-bottom: 94px;
  }
}

.filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter .list {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: -8px;
  margin-bottom: -8px;
}

@media screen and (max-width: 767px) {
  .filter .list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter .list {
    justify-content: center;
  }
}

.filter-item {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.filter-button {
  border-width: 0;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  margin: 0;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter-button.current {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .portfolio .list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-item img {
  width: 100%;
  height: 294px;
  height: auto;
}

@media screen and (min-width: 480px) {
  .portfolio-item img {
    height: 294px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb .portfolio-about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 1.26;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-thumb .portfolio-about,
.portfolio-link:focus .portfolio-thumb .portfolio-about {
  transform: translateY(0);
}

@media screen and (min-width: 440px) {
  .portfolio-thumb .portfolio-about {
    padding-top: 77px;
    padding-bottom: 77px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-thumb .portfolio-about {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-thumb .portfolio-about {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.portfolio-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-card .portfolio-name {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .portfolio-card .portfolio-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.portfolio-card .portfolio-web,
.portfolio-card .portfolio-design,
.portfolio-card .portfolio-app,
.portfolio-card .portfolio-marketing {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

/*                                          Подвал сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer .logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-address-link {
  line-height: 1.71;
  color: #ffffff;
}

.footer-address-mail, .footer-address-tel {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-box-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box-address {
    margin-right: 83px;
  }
}

.accent-link {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-link:hover, .accent-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .accent-link:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .accent-link:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .container-tablet {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container-tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-tablet {
    justify-content: space-around;
  }
}

.footer-join {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-item > a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item > a:hover, .footer-social-item > a:focus {
  background-color: #2196f3;
}

.footer-social-item .icon {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:hover, .footer-form-input:focus {
  outline: 1px solid #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-form-input {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form-button {
  width: 200px;
  border-width: 0;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover, .footer-form-button:focus {
  outline: 1px solid #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-form-button {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-form-button .icon {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */