/* "Эффект присутствия на странице */

.nav-link.current {
  position: relative;
  display: inline-block;
  color: $hover-color;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    content: '';
    height: 4px;
    border-radius: 2px;
    background-color: $hover-color;
  }
  @media screen and (max-width: $tablet - 1px) {
    padding-bottom: 8px;
  }
}
